<template>
  <div id="app">
    <Bindings/>
    <Reactivity/>
    <Methods/>
    <ComputedProps/>
    <Watchers/>
    <Filters/>
    <Events/>
    <CustomDirectives/>
    <Animations/>
  </div>
</template>

<script>
import Bindings from './components/Bindings';
import Reactivity from './components/Reactivity';
import Methods from './components/Methods';
import ComputedProps from './components/ComputedProps';
import Watchers from './components/Watchers';
import Filters from './components/Filters';
import Events from './components/Events';
import CustomDirectives from './components/CustomDirectives';
import Animations from './components/Animations';

export default {
  name: 'App',
  components: {
    Bindings,
    Reactivity,
    Methods,
    ComputedProps,
    Watchers,
    Filters,
    Events,
    CustomDirectives,
    Animations
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
