<template>
  <div class="hello">
    <h1>{{ title }}</h1>
    <h2>{{ msg }}</h2>
    <custom-button></custom-button>

    <h2>Data, Methods, and Computed Properties</h2>
    <positive-number></positive-number>

    <h2>Passing in Data</h2>
    <color-preview color="red"></color-preview>
    <color-preview color="blue"></color-preview>

    <h2>Prop Validation</h2>
    <price-display price="20" unit="CHF"></price-display>
    <price-display2 price="30"></price-display2>
    <price-display3 price="40"></price-display3>

    <h2>Reactivity</h2>
    <display-number v-bind:number="number"></display-number>

    <h2>Data Flow and the .sync Modifier</h2>
    <count-from-number :number.sync="numberToDisplay"/>
    <count-from-number2 :number.sync="numberToDisplay2"/>
    <count-from-number3 initial-number="100" :number.sync="numberToDisplay3"/>

    <h2>Custom Inputs and v-model</h2>
    <input-username/>

    <h2>Passing Content into Components with Slots</h2>
    <custom-button-slot>Press me!</custom-button-slot>
    <h3>Fallback Content</h3>
    <custom-button-slot></custom-button-slot>
    <h3>Named Slots</h3>
    <blog-post author="Edu">
      <h2 slot="header">Blog post title</h2>

      <p>Blog post content</p>

      <p>More blog post content</p>
    </blog-post>

    <h2>Custom Events</h2>
    <custom-event/><br>
    <custom-event v-on:count="handleCount"></custom-event>
    <p>clicks = {{ clicks }}</p>
    <custom-event ref="counter"/><br>
    <p>clicks2 = {{ clicks2 }}</p>

    <div></div>
  </div>
</template>

<script>
const CustomButton = {
  template: '<button>Custom button</button>'
};
require('./positive-numbers');
require('./color-preview');
require('./price-display');
require('./display-number');
require('./count-from-number');
require('./input-username');
require('./custom-button-with-slot.js');
require('./blog-post');
require('./custom-event');

export default {
  name: 'HelloWorld',
  components: {
    CustomButton
  },
  data() {
    return {
      title: 'Components in Vue.js',
      msg: 'Component Basics',
      number: 0,
      numberToDisplay: 10,
      numberToDisplay2: 40,
      numberToDisplay3: 100,
      clicks: 0,
      clicks2: 0
    };
  },
  methods: {
    handleCount(clicks) {
      this.clicks = clicks;
    },
    handleCount2(clicks) {
      this.clicks2 = clicks;
    }
  },
  created() {
    setInterval(() => {
      this.number++;
    }, 1000);
  },
  mounted() {
    this.$refs.counter.$on('count', this.handleCount2);
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
