<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p v-if="isMorning">Good morning!</p>
    <p v-if="isAfternoon">Good afternoon!</p>
    <p v-if="isEvening">Good evening!</p>

    <p v-if="hours < 12">Good morning!</p>
    <p v-if="hours >= 12 && hours < 18">Good afternoon!</p>
    <p v-if="hours >= 18">Good evening!</p>

    <p>Hello, {{ greetee }}!</p>

    <p v-if="path === '/'">You are on the home page</p>
    <p v-else>You're on {{ path }}</p>

    <p>The second dog is {{ dogs[1] }}</p>
    <p>All the dogs are {{ dogs }}</p>

    <ul>
      <li v-for="dog in dogs">{{ dog }}</li>
    </ul>

    <ul>
      <li v-for="(rent, city) in averageRent">
        The average rent in {{ city }} is ${{ rent }}
      </li>
    </ul>

    <ul>
      <li v-for="n in 10">{{ n }}</li>
    </ul>
  </div>
</template>

<script>
const hours = new Date().getHours();

export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      isMorning: hours < 12,
      isAfternoon: hours >= 12 && hours < 18,
      isEvening: hours >= 18,
      hours: new Date().getHours(),
      greetee: 'world',
      path: location.pathname,
      dogs: ['Rex', 'Rover', 'Henrietta', 'Alan'],
      averageRent: {
        london: 1650,
        paris: 1730,
        NYC: 3680
      }
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
a {
  color: #42b983;
}
</style>
