<template>
  <div class="animations">
    <h2>Transitions and Animations</h2>
    <button @click="divVisible = !divVisible">Toggle visibility</button>

    <div v-if="divVisible">This content is sometimes hidden</div>

    <transition name="fade">
      <div v-if="divVisible">This content is sometimes hidden too</div>
    </transition>

    <transition
      v-on:before-enter="handleBeforeEnter"
      v-on:enter="handleEnter"
      v-on:leave="handleLeave">
      <div v-if="divVisible">This content is sometimes hidden with JavaScript</div>
    </transition>
  </div>
</template>

<script>
  import TweenLite from 'gsap/TweenLite';
  export default {
    name: "Animations",
    data() {
      return {
        divVisible: true
      }
    },
    methods: {
      handleBeforeEnter(el) {
        el.style.opacity = 0;
      },
      handleEnter(el, done) {
        TweenLite.to(el, 0.6, {opacity: 1, onComplete: done});
      },
      handleLeave(el, done) {
        TweenLite.to(el, 0.6, {opacity: 0, onComplete: done});
      }
    }
  }
</script>

<style scoped>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
</style>
