<template>
  <div class="bindings">
    <h1>{{ msg }}</h1>
    <h2>Bindings</h2>
    <button v-bind:type="buttonType">Test button</button>

    <button v-bind:disabled="buttonDisabled">Test button</button>

    <h2>Reactivity</h2>
    <p>{{ seconds }} seconds have elapsed since you opened the page.</p>
  </div>
</template>

<script>
  export default {
    name: 'Bindings',
    data() {
      return {
        msg: 'Welcome to Your Vue.js App',
        buttonType: 'submit',
        buttonDisabled: true,
        seconds: 0
      }
    },
    created() {
      setInterval(() => {
        this.seconds++;
      }, 1000);
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  a {
    color: #42b983;
  }
</style>
