<template>
  <div class="computedProps">
    <h2>Computer Properties</h2>
    <p>Sum of numbers: {{ numberTotal }}</p>
    <p>Sum of numbers: {{ numberTotalAdv }}</p>
  </div>
</template>

<script>
  export default {
    name: "ComputedProps",
    data() {
      return {
        numbers: [5, 8, 3]
      }
    },
    computed: {
      numberTotal() {
        return this.numbers.reduce((sum, val) => sum + val);
      },
      numberTotalAdv: {
        get() {
          return this.numbers.reduce((sum, val) => sum + val);
        },
        set(newValue) {
          const oldValue = this.numberTotal;
          const difference = newValue - oldValue;
          this.numbers.push(difference);
        }
      }
    }
  }
</script>

<style scoped>

</style>
