<template>
    <div class="customDirectives">
      <h2>Custom Directives</h2>
      <p v-blink>This content will blink</p>
      <p v-blink-two="500">This second content will blink too</p>
    </div>
</template>

<script>
  import Vue from 'vue';
  export default {
    name: "CustomDirectives",
    directives: {
      blink: {
        bind(el) {
          let isVisible = true;
          setInterval(() => {
            isVisible = !isVisible;
            el.style.visibility = isVisible ? 'visible' : 'hidden';
          }, 1000);
        }
      },
      blinkTwo: {
        bind(el, binding) {
          let isVisible = true;
          setInterval(() => {
            isVisible = !isVisible;
            el.style.visibility = isVisible ? 'visible' : 'hidden';
          }, binding.value || 1000);
        }
      }
    }
  };
  Vue.directive('my-directive', (el) => {
    // This code will run both on "bind" and "update"
  });
</script>

<style scoped>

</style>
