<template>
    <div class="events">
      <h2>Inputs and Events</h2>
      <button v-on:click="counter++">Click to increase counter</button>
      <p>You've clicked the button {{ counter }} times.</p>

      <button v-on:click="increase">Click to increase second counter</button>
      <p>You've clicked the second button {{ counterTwo }} times.</p>

      <button @click="increase">Click to increase counter using shortcut</button>
    </div>
</template>

<script>
  export default {
    name: "Events",
    data() {
      return {
        counter: 0,
        counterTwo: 0
      }
    },
    methods: {
      increase(e) {
        this.counterTwo++;
      }
    }
  }
</script>

<style scoped>

</style>
