<template>
    <div class="filters">
      <h2>Filters</h2>
      <p>Product one cost: ${{ (productOneCost / 100).toFixed(2) }}</p>
      <p>Product two cost: ${{ (productTwoCost / 100).toFixed(2) }}</p>
      <p>Product three cost: ${{ (productThreeCost / 100).toFixed(2) }}</p>

      <p>Product one cost with filter: {{ productOneCost | formatCost }}</p>
      <p>Product two cost with filter: {{ productTwoCost | formatCost }}</p>
      <p>Product three cost with filter: {{ productThreeCost | formatCost }}</p>

      <p>Product one cost with filter and symbol: {{ productOneCost | formatCost('$') }}</p>

      <input type="text" v-bind:value="productCost | formatCost('$')">
    </div>
</template>

<script>
  export default {
    name: "Filters",
    data() {
      return {
        productCost: 1000,
        productOneCost: 998,
        productTwoCost: 2399,
        productThreeCost: 5300
      }
    },
    filters: {
      formatCost(value) {
        return `\$${(value / 100).toFixed(2)}`;
      },
      formatCostWithSymbol(value, symbol) {
        return `${symbol}${(value / 100).toFixed(2)}`;
      }
    }
  }
</script>

<style scoped>

</style>
