<template>
    <div class="methods">
      <h2>Methods</h2>
      <p>Current status: {{ statusFromId(status) }}</p>
      <ul>
        <li v-for="number in filterPositive(numbers)">{{ number }}</li>
      </ul>
      <h3>this</h3>
      <p>The sum of the positive numbers is {{ getPositiveNumbersSum() }}</p>
    </div>
</template>

<script>
  export default {
    name: "Methods",
    data() {
      return {
        status: 2,
        numbers: [-5, 0, 2, -1, 1, 0.5]
      }
    },
    methods: {
      statusFromId(id) {
        const status = ({
          0: 'Asleep',
          1: 'Eating',
          2: 'Learning Vue'
        })[id];
        return status || 'Unknown status: ' + id;
      },
      filterPositive(numbers) {
        return numbers.filter((number) => number >= 0);
      },
      getPositiveNumbers() {
        return this.numbers.filter(number => number >= 0);
      },
      getPositiveNumbersSum() {
        return this.getPositiveNumbers().reduce((sum, val) => sum + val);
      }
    }
  }
</script>

<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  a {
    color: #42b983;
  }
</style>
