<template>
  <div class="reactivity">
    <input type="text" v-bind:value="inputText">
    <p>inputText: {{ inputText }}</p>

    <input type="text" v-model="inputTextModel">
    <p>inputTextModel: {{ inputTextModel }}</p>

    <h2>Radio</h2>
    <label><input type="radio" v-model="value" value="one"> One</label>
    <label><input type="radio" v-model="value" value="two"> Two</label>
    <label><input type="radio" v-model="value" value="three"> Three</label>

    <p>The value is {{ value }}</p>
  </div>
</template>

<script>
  export default {
    name: "Reactivity",
    data() {
      return {
        inputText: 'initial value',
        inputTextModel: 'initial value',
        value: 'one'
      }
    }
  }
</script>

<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  a {
    color: #42b983;
  }
</style>
