<template>
  <div class="watchers">
    <h2>Watchers</h2>
    <input type="text" v-model="inputValue">

    <p>Five seconds ago, the input said "{{ oldInputValue }}".</p>


    <input type="text" v-model="inputValueWithArgs">
  </div>
</template>

<script>
  export default {
    name: "Watchers",
    data() {
      return {
        inputValue: '',
        oldInputValue: '',
        inputValueWithArgs: ''
      }
    },
    watch: {
      inputValue() {
        const newValue = this.inputValue;
        setTimeout(() => {
          this.oldInputValue = newValue;
        }, 5000);
      },
      inputValueWithArgs(val, oldVal) {
        console.log(val, oldVal);
      },
      formData: {
        handler() {
          console.log(val, oldVal);
        },
        deep: true
      }
    }
  }
</script>

<style scoped>

</style>
